@import url("https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap");
a {
  text-decoration: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000; }

.header {
  background-color: #f9f6f3;
  position: sticky;
  top: 0;
  z-index: 50; }

.section-outer {
  display: flex;
  justify-content: center; }
  .section-outer .section-inner {
    width: 1200px; }
    .section-outer .section-inner .head-title {
      text-align: center;
      font-size: 4rem;
      font-family: 'Ruslan Display', cursive; }
    .section-outer .section-inner .header-wrapper {
      padding: 15px 20px 15px 20px;
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .section-outer .section-inner .header-wrapper .header-wrapper__logo {
        display: hidden; }
    .section-outer .section-inner .nav-wrapper {
      display: flex;
      justify-content: space-around; }
      .section-outer .section-inner .nav-wrapper__item {
        padding: 0 10px; }
    .section-outer .section-inner .nav-wrapper-sm {
      display: none; }
    .section-outer .section-inner .header-wrapper__number .number-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section-outer .section-inner .header-wrapper__number .number-wrapper__title {
        color: #000000;
        font-size: 25px;
        font-weight: 600; }
      .section-outer .section-inner .header-wrapper__number .number-wrapper__subtitle {
        font-size: 14px;
        font-weight: 400;
        color: grey; }

.carousel-inner .carousel-item .carousel-caption {
  padding: 10px;
  color: #130805;
  background-color: rgba(248, 241, 234, 0.699); }

.section-item {
  margin-top: -60px; }
  .section-item .section-item__title {
    padding-top: 100px;
    text-align: center; }
  .section-item .section-item__body .cards_content {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .section-item .section-item__body .cards_content .card {
      margin: 5px; }
      .section-item .section-item__body .cards_content .card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .section-item .section-item__body .cards_content .card .card-body .card-button {
          font-weight: 600; }
    .section-item .section-item__body .cards_content .modal .modal-dialog .modal-content .modal-body__description {
      padding-top: 10px; }
  .section-item .section-item__body-adress-cards {
    display: flex;
    justify-content: space-around; }
  .section-item .section-item__body-map {
    padding-top: 35px; }
  .section-item .section-item__body-adress-cards {
    padding-top: 25px; }
    .section-item .section-item__body-adress-cards .adress-card__title {
      font-size: 1.5rem;
      font-weight: 600; }

.footer {
  margin-top: 50px;
  height: 180px;
  background-color: #555454; }
