#navbarCollapse {
  display: flex;
  justify-content: space-between; }

.carousel-caption {
  background-color: rgba(245, 245, 245, 0.85);
  color: black; }
  .carousel-caption p {
    padding: 0 10px;
    font-size: 16px; }

.indexcat .indexcat__cards {
  height: 24rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; }
  .indexcat .indexcat__cards .card {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0; }
    .indexcat .indexcat__cards .card img {
      height: 16rem; }
    .indexcat .indexcat__cards .card .card-body h5 {
      font-size: 16px; }

.tag-list {
  margin: 5px 0; }

.cards_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .cards_content .card {
    margin: 5px 0; }

.adres_shop {
  margin-top: 25px;
  display: flex;
  justify-content: space-around; }

footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto; }
