#navbarCollapse {
  display: flex;
  justify-content: space-between; }

main .carousel-caption {
  background-color: rgba(245, 245, 245, 0.85);
  color: black; }
  main .carousel-caption p {
    padding: 0 10px;
    font-size: 16px; }

main .indexcat .indexcat__cards {
  height: 24.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; }
  main .indexcat .indexcat__cards .card {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0; }
    main .indexcat .indexcat__cards .card img {
      height: 16rem; }
    main .indexcat .indexcat__cards .card .card-body h5 {
      font-size: 1rem; }

main .cat-dtn {
  margin-top: 30px; }
  main .cat-dtn a {
    text-decoration: none; }

main .tag-list {
  margin: 5px 0; }

main .cards_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  main .cards_content .card {
    margin: 5px 0; }

main .where-title {
  margin-top: 30px; }

main .map-area {
  margin-top: 20px; }

main .adres-shop-area {
  margin-top: 20px;
  display: flex;
  justify-content: space-around; }

footer {
  position: relative bottom; }
