{% extends 'base.html' %}

{% block title %}
    Где купить
{% endblock %}

{% block content_title %}
    Где купить
{% endblock %}

{% block content %}
<div class="container">

    <!--Блок с картой-->
    <div class="col-md-12 map-area">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A7ad60f9512b545e6dbc0c1c95e3489c3db5d3bf65d5f60103cb2ecc0ee34af0d&amp;source=constructor"
                width="1080"
                height="400"
                frameborder="0">
        </iframe>
    </div>


    <!--Блок с адресами магазинов-->
    <div class="row row-cols-4">

    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"></svg>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bi-house-fill"></use></svg>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>

    <div class="col d-flex align-items-start">
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>

<!--    <div class="col d-flex align-items-start">-->
<!--      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>-->
<!--      <div>-->
<!--        <h4 class="fw-bold mb-0">Featured title</h4>-->
<!--        <p>Paragraph of text beneath the heading to explain the heading.</p>-->
<!--      </div>-->
<!--    </div>-->

  </div>
</div>
{% endblock %}