{% extends 'base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}


{% block content_title %}

    <div class="tags">
        {{ post.title }}
    </div>
{% endblock %}


{% block content %}
        {% for tag in tags %}
            <a href="{{ url_for('posts.tag_detail',slug=tag.slug) }}"><button type="button" class="btn btn-outline-primary">{{ tag.name }}</button></a>

        {% endfor %}<br>

        {% if post.image %}
            <img src="../static/image/{{post.image}}" alt="Image"><br>
        {% endif %}

        {{ post.body }}

{% endblock %}